/**************HEADER***********************/
#header{ width: 90%;
    height: 100px;
    background-color: blue;
}
/********************MENU*******************/
#menu{
    width: 90%;
    height: 30px;
    background-color:red;
}
#menu_lateral{
    width: 30%;
    height: 500px;
    background-color: green;
}
#banner{
    width: 70%;
    height: 200px;
    background-color: burlywood;
}
#noticias{
    width: 90%;
    height: 400px;
    background-color:cyan ;
}
#texto{
    width: 40%;
    height: 50px;
    border: 2px solid black;
}
#imagem{
    width: 40%;
    height: 50px;
    border: 2px solid black;
}
