<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layoutcom.css">
</head>
<body>
    <div id="header"></div>
    <div id="menu"></div>
    <div id="menu_lateral">
    <h3>FORMAS DE DEIXAR O CÓDIGO SEMÂNTICO:</h3>

        A Semântica HTML é importante para a indexação por mecanismos de busca, pois ajudam os robôs dos mecanismos de busca a 
        entender melhor o conteúdo da página. <br>
        As tags semânticas permitem que os mecanismos de busca identifiquem facilmente o título da página, o conteúdo principal 
        e as seções secundárias. É uma DIV pra um pedaço especifíco. <br><br>
        
        <strong>HEADER</strong> ele é usado como "cabeçalho", é um tipo de DIV, só que foi designado para cabeçalho. <br>
        <strong>FOOTER</strong> é uma div usada no RODAPÉ. <br>
        <strong>MAIN</strong> define o conteúdo principal dentro do "body" em seu documento, o corpo. <br>
        <strong>NAV</strong> é utilizado quando precisamos representar um agrupamento de links de navegação, que, por sua vez, são criados com os elementos "ul", "li" e "a". <br>
        <strong>SECTION</strong> representa uma seção dentro de um documento e geralmente contém um título. <br>  
        Ver o resto nos slides do Cássio depois.
    </p></div>
    <div id="banner"></div>
    <div id="noticias">
        <div id="texto"></div>
        <div id="imagem"></div>
    </div>
    
</body>
</html>

                    